.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .searchbar {
      float: right;
      background-color: transparent;
      color: white;
      padding: 6px 10px;
      width: 200px;
      border: none;
      margin-top: 50px;
      font-family: "roboto";
      font-size: 1em;
      font-weight: bold;
      border-bottom: white solid 2px;
      transition: 0.3s;
      margin-left: 20px;
  }
  
  .searchbar::placeholder {
      color: white;
      font-family: roboto;
      font-size: 20px;
      font-weight: bold;
      transition: 0.2s;
  }
  
  .searchbar:focus {
      width: 300px;
      font-family: roboto;
      font-size: 1em;
      font-weight: bold;
      transition: 0.3s;
      border-bottom: white solid 2px;
      outline: none;
  }
  
  .btn-search {
      cursor: pointer;
      color: white;
      text-decoration: none !important;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1.5em;
      padding-top: 5px;
      margin-right: 40px;
  }